.dataset {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  > h2 {
    text-align: center;
  }

  > button {
    width: max-content;
    align-self: center;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 0 2rem;

    .user-data {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: #1a1a1a;
      transition: max-height 0.3s ease, border-color 0.25s;
      overflow: hidden;
      white-space: nowrap;
      max-height: 2.5em;
      cursor: pointer;
      width: 400px;

      > * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      @media screen and (max-width: 950px) {
        width: 300px;
      }

      @media screen and (max-width: 768px) {
        width: 200px;
      }

      @media screen and (max-width: 500px) {
        width: 100%;
        max-width: 80vw;
      }
    }

    .user-data.open {
      max-height: 500px;

      > * {
        white-space: normal;
      }
    }
  }
}
